@import '../styles/colors';

.container {
  display: flex;
  align-items: center;
  width: 100%;
  height: 362px;
  color: $branco;
  box-shadow: inset 0 -60px 100px -10px #000;
  background: center / cover url(../assets/background-container.png) no-repeat;


  .containerGroup {
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    width: 90%;
    padding-top: 6rem;
    margin-inline: 9.96rem;

    .containerTitle {
      font-size: 2.84rem;
      font-weight: 700;
    }

    .containerDescription {
      font-size: 1rem;
      font-weight: 700;
    }

    .containerButton {
      width: 8rem;
      padding: 1rem;
      border: none;
      color: $branco;
      background-color: $azul100;

      transition: .4s ease-in-out;
      cursor: pointer;

      &:hover {
        filter: brightness(1.1);
      }
    }
  }

  @media screen and (max-width: 800px) {
    .containerGroup {
      width: 100%;
      margin-inline: 5%;
    }

    @media screen and (max-width: 520px) {
      .containerGroup {

        .containerTitle {
          font-size: 2rem;
        }

        .containerDescription {
          font-size: 0.9rem;
        }
      }
    }
  }
}